aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
astroid==3.2.2
attrs==23.2.0
autopep8==2.0.4
black==24.4.2
cattrs==23.2.3
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.8
distro==1.9.0
docstring-to-markdown==0.15
filelock==3.14.0
flake8==7.0.0
frozenlist==1.4.1
fsspec==2024.6.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
huggingface-hub==0.23.3
idna==3.7
importlib_metadata==7.1.0
isort==5.13.2
jedi==0.19.1
jedi-language-server==0.41.4
Jinja2==3.1.4
litellm==1.40.6
lsprotocol==2023.0.1
MarkupSafe==2.1.5
mccabe==0.7.0
multidict==6.0.5
mypy==1.10.0
mypy-extensions==1.0.0
ollama==0.2.1
openai==1.33.0
packaging==24.0
parso==0.8.4
pathspec==0.12.1
platformdirs==4.2.2
pluggy==1.5.0
pycodestyle==2.11.1
pydantic==2.7.3
pydantic_core==2.18.4
pydocstyle==6.3.0
pyflakes==3.2.0
pygls==1.3.1
pylint==3.2.2
pyls-isort==0.2.2
pylsp-mypy==0.6.8
pylyzer==0.0.54
python-dotenv==1.0.1
python-lsp-black==2.0.0
python-lsp-jsonrpc==1.1.2
python-lsp-ruff==2.2.1
python-lsp-server==1.11.0
pytoolconfig==1.3.1
PyYAML==6.0.1
regex==2024.5.15
requests==2.32.3
rope==1.13.0
ruff==0.4.7
ruff-lsp==0.0.53
sniffio==1.3.1
snowballstemmer==2.2.0
tiktoken==0.7.0
tokenizers==0.19.1
tomli==2.0.1
tomlkit==0.12.5
tqdm==4.66.4
typing_extensions==4.12.1
ujson==5.10.0
urllib3==2.2.1
whatthepatch==1.0.5
yapf==0.40.2
yarl==1.9.4
zipp==3.19.2
